<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Flexpad</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown btn-group" uib-dropdown dropdown-append-to-body>
                    <a class="dropdown-toggle" uib-dropdown-toggle>
                            {{username()}}<span class="caret"></span>
                        </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                        <li role="menuitem"><a href="javascript:;" ng-click="logout()">Logout <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
                        <!-- <li class="divider"></li> -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="home-container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            <form name="createForm">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Title" ng-model="createTitle" required>
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="createPad(createTitle)"
                            ng-disabled="isLoading() || createForm.$invalid">Create Pad</button>
                </span>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="pad in pads" ng-click="gotoPad(pad._pad)">
                    <span class="badge">{{pad._pad.username}}</span> {{pad._pad.title}}
                </li>
            </ul>
        </div>
    </div>

</div>